@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

section {
  padding: 1rem;
  width: calc(100% - 2rem);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  align-items: center;
}

/* Palette */
#palette {
  --cell-size: 25px;
  display: grid;
  grid-template-columns: repeat(16, minmax(var(--cell-size), 1fr));
  flex: auto;
  gap: 0px;
  justify-content: center;
  max-width: fit-content;
}

.color-btn {
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0px;
  text-align: center;
  align-content: center;
  /* border: 1.5pt #00000000 solid; */
  outline: 1.5pt #ffffff00 solid;
  border-radius: 0px;
  z-index: 1;
}

.color-text-dark { color: #00000080; }
.color-text-light { color: #ffffff80; }
.color-text-dark.selected { color: #000000a8; }
.color-text-light.selected { color: #ffffffa8; }

.color-btn:hover, .color-btn.selected {
  scale: 1.075;
  z-index: 11;
}
.color-btn.selected {
  scale: 1.125;
  /* border: 1.5pt #00000048 solid; */
  outline: 1.5pt #ffffffff solid;
  z-index: 10;
}

/* Grid */
#grid {
  display: grid;
  gap: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}

.cell {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}

pre {
  background: #eee;
  padding: 10px;
}


/* Output */
#output {
  text-align: center;
  background-color: #00000014;
}

@media screen and (max-width: 600px) {
  
  #palette {
    grid-template-columns: repeat(12, minmax(var(--cell-size), 1fr));
  }

}

@media screen and (max-width: 350px) {
  
  #palette {
    grid-template-columns: repeat(8, minmax(var(--cell-size), 1fr));
  }

}