/* Cards */
.card-container {
  grid-column: 1 / -1;
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: max-content;
  flex-wrap: wrap;
  width: 100%;
  min-width: -webkit-fill-available;
}

.card {
  display: block;
  padding: 1rem 1.5rem;
  align-content: space-evenly;
  color: var(--text-secondary);
  background-color: var(--paper-color);
  border-radius: var(--input-radius);
  box-shadow: var(--shadow-1-up) var(--shadow-light),
              var(--shadow-1-down) var(--shadow-dark);
}

.card.card-small { width: 8rem; }

.card h4 {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.85;
}
