/* Input types
type="button"
type="checkbox"
type="color"
type="date"
type="datetime-local"
type="email"
type="file"
type="hidden"
type="image"
type="month"
type="number"
type="password"
type="radio"
type="range"
type="reset"
type="search"
type="submit"
type="tel"
type="text"
type="time"
type="url"
type="week"
*/

:root {
  --input-radius: 0.25rem;
  --input-transition: 0.25s;
}

/* Buttons inputs */
button,
input[type="button"],
input[type="imager"],
input[type="color"],
input[type="reset"],
input[type="submit"],
input[type="file"]::file-selector-button,
.btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  align-items: center;

  background-color: var(--paper);
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  
  transition: var(--input-transition);
  border-radius: var(--input-radius);
  box-shadow: var(--shadow-light), var(--shadow-dark);
}

.btn-icon {
  border-radius: 4rem;
  line-height: 1rem;
  padding: 0.25rem;
}

button:hover,
input[type="button"]:hover,
input[type="imager"]:hover,
input[type="color"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="file"]:hover::file-selector-button,
.btn:hover {
  scale: 1.05;
  translate: 0px -0.125rem;
  filter: brightness(1.0125);
}



.btn-select {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.btn-select button:first-child, .btn-select .btn:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn-select button:last-child, .btn-select .btn:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.btn-select .btn-selected {
  box-shadow: var(--shadow-light) inset, var(--shadow-dark) inset;
}


/* file input */
input[type="file"] {
  padding: 0.25em 0.5em;
  max-width: 15em;

  /* Older Chrome/Safari fallback */
  white-space: normal;
  overflow-wrap: break-word; 
  /* Modern Chrome and standards support */
  text-wrap: wrap;
  /* text-align-last: center; */

  transition: var(--input-transition);
}

input[type="file"]::file-selector-button {
  font-size: 1em;
  width: 100%;
  margin-right: 1rem;
}


/* Text inputs */

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
.input {
  font-size: medium;
  text-align: center;
  background-color: var(--paper);
  padding: 0.25rem 0.75rem;
  border-radius: var(--input-radius);
  box-shadow: var(--shadow-light) inset, var(--shadow-dark) inset;
  transition: var(--input-transition);
  filter: brightness(0.975);
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="tel"]:hover,
.input:hover {
  filter: brightness(1.025);
}

input[type="text"]:active,
input[type="password"]:active,
input[type="search"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="tel"]:active,
.input:active,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
.input:focus {
  filter: brightness(1);
}

/* Color */
input[type="color"] {
  padding: 0rem;
  width: 2em;
  height: 2em;
}

::-webkit-color-swatch { border: none; }
::-moz-color-swatch { border: none; }
::-webkit-color-swatch-wrapper { padding: 0; }
::-moz-color-swatch-wrapper { padding: 0; }


/* Range */
input[type=range] {
  --thumb-color: rgba(0,0,0,0.67);
  --thumb-border: 2px solid #fff;
  --thumb-size: 1rem;
  --thumb-shadow: 0 0 5px rgba(0,0,0,0.3);

  -webkit-appearance: none;
  width: 100%;
  height: 0.25rem;
  border-radius: var(--input-radius);
  background: var(--background);
  box-shadow: var(--shadow-light) inset, var(--shadow-dark) inset;
  outline: none;
  padding: 0;
  margin: 0.5rem 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border: var(--thumb-border);
  box-shadow: var(--thumb-shadow);
  border-radius: 50%;
  cursor: pointer;
  transition: background var(--input-transition) ease;
}
input[type=range]::-webkit-slider-thumb:hover {
  background: var(--thumb-color);
}
input[type=range]::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border: var(--thumb-border);
  box-shadow: var(--thumb-shadow);
  border-radius: 50%;
  cursor: pointer;
  transition: background var(--input-transition) ease;
}


/* With side element inside */
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="number"] {
  background-color: transparent;
}




/* Color Variations */
button.primary,
input[type="button"].primary,
input[type="imager"].primary,
input[type="color"].primary,
input[type="reset"].primary,
input[type="submit"].primary,
input[type="file"].primary::file-selector-button,
.btn.primary {
  background-color: var(--primary-main);
  color: var(--text-contrast-primary);
}

button.secondary,
input[type="button"].secondary,
input[type="imager"].secondary,
input[type="color"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary,
input[type="file"].secondary::file-selector-button,
.btn.secondary {
  background-color: var(--secondary-main);
  color: var(--text-contrast-secondary);
}
