/* Common */
header, footer {
  width: 100%;
  background: var(--paper);
  color: var(--text-secondary);
  cursor: default;
}

/* 
header, footer {
  grid-column: 1 / -1;
} */

/* Header */
header {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-1-down) var(--shadow-dark);
  position: sticky;
  top: 0px;
  z-index: 9999;
}

header h1 {
  font-size: 1.25rem;
}

header nav {
  width: fit-content;
  padding: 0.5rem;
}

header .mini-app-name {
  /* flex: auto; */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

header .apps-icon {
  --icon-size: 2rem;
  height: var(--icon-size);
  font-size: var(--icon-size);
  line-height: var(--icon-size);
  vertical-align: middle;
}

#btn-main-menu {
  position: relative;
  padding: 0px;
  border-radius: 4rem;
}

#btn-main-menu span {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
#btn-main-menu img {
  filter: brightness(0.75);
}

#theme {
  margin-right: 1rem;
  font-size: 1.75rem !important;
}

/* Footer */
footer {
  box-shadow: var(--shadow-1-up) var(--shadow-light);
}

/* Main */
main {
  min-height: calc(100vh - 14rem);
  align-content: center;
}

.container {
  --padding-x: 2.5rem;
  --padding-y: 2rem;
  margin: 0px auto;
  padding: var(--padding-y) var(--padding-x);
  width: calc(100% - (2 * var(--padding-x)));
  max-width: 1280px;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 2rem;
}
