@import url("./reset.css");
@import url("./theme.css");
@import url("./animations.css");
@import url("./layout.css");
@import url("./controls.css");

/* grid-column: 1/-1; */
h1 {
  width: inherit; /*100%*/
  text-align: center;
}

h2 {
  width: 100%;
  margin-bottom: 0.5rem;
}
h2, h3 {
  text-align: center;
}

.pixel {
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* For Edge, Chrome, and Opera */
  image-rendering: pixelated;
  /* For Safari (older versions) and fallback */
  image-rendering: -webkit-optimize-contrast;
  /* For Firefox and the future W3C standard */
  image-rendering: crisp-edges;
}

/* *[hidden] {
  display: none !important;
} */

/* Cards */
.card-container {
  grid-column: 1 / -1;
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: max-content;
  flex-wrap: wrap;
  width: 100%;
  min-width: -webkit-fill-available;
}

.card {
  display: block;
  padding: 1rem 1.5rem;
  align-content: space-evenly;
  background-color: var(--paper);
  color: var(--text-secondary);
  border-radius: 0.25rem;
}

.card.card-small { width: 8rem; }

.card h4 {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.85;
}


/* General */
.big-icon {
  text-align: center;
  font-size: 4rem;
}