@import url("./reset.css");
@import url("./theme.css");
@import url("./animations.css");

body {
  font-family: var(--font-base);
  background: var(--background);
  color: var(--text-primary);
  font-size: 12pt;
  width: 100%;
  height: 100%;
}

/* grid-column: 1/-1; */
h1 {
  width: inherit; /*100%*/
  text-align: center;
}

h2 {
  width: 100%;
  margin-bottom: 0.5rem;
}
h2, h3 {
  text-align: center;
}

/* Buttons */
button, .btn, input[type="color"] {
  cursor: pointer;
  display: inline-block;
  background-color: var(--paper);
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: bold;
  
  transition: 0.2s;
  border-radius: 1rem; /*0.5rem*/
  box-shadow: var(--shadow-light), var(--shadow-dark);
}
button:hover, .btn:hover, input[type="color"]:hover, .custom-file-upload:hover {
  scale: 1.05;
  translate: 0px -0.125rem;
  filter: brightness(1.0125);
}

.btn-text {
  padding: 0.25rem 0.75rem;
}
.btn-icon {
  border-radius: 4rem;
}
button.primary {
  background-color: var(--primary-main);
  color: var(--text-contrast-primary);
}
button.secondary {
  background-color: var(--secondary-main);
  color: var(--text-contrast-secondary);
}

.btn-select {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.btn-select button, .btn-select.btn {
  border-radius: 0.125rem;
}
.btn-select button:first-child, .btn-select .btn:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn-select button:last-child, .btn-select .btn:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.btn-select .btn-selected {
  box-shadow: var(--shadow-light) inset, var(--shadow-dark) inset;
}

/* Inputs */
input {
  background-color: transparent;
}

.input {
  background-color: var(--paper);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-light) inset, var(--shadow-dark) inset;
  transition: 0.25s;
}

input[type=range] {
  --thumb-color: rgba(0,0,0,0.67);
  --thumb-border: 2px solid #fff;
  --thumb-size: 1rem;
  --thumb-shadow: 0 0 5px rgba(0,0,0,0.3);

  -webkit-appearance: none;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.125rem;
  background: var(--background);
  box-shadow: var(--shadow-light) inset, var(--shadow-dark) inset;
  outline: none;
  padding: 0;
  margin: 0.5rem 0;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border: var(--thumb-border);
  box-shadow: var(--thumb-shadow);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}
input[type=range]::-webkit-slider-thumb:hover {
  background: var(--thumb-color);
}
input[type=range]::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border: var(--thumb-border);
  box-shadow: var(--thumb-shadow);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}


/* Cards */
.card-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: max-content;
  flex-wrap: wrap;
  width: 100%;
  min-width: webkit-fill-available;
}

.card {
  display: block;
  padding: 1rem 1.5rem;
  align-content: space-evenly;
  background-color: var(--paper);
  color: var(--text-secondary);
  border-radius: 0.25rem;
}

.card.card-small { width: 8rem; }

.card h4 {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.85;
}


/* General */
.container {
  display: grid;
  gap: 2rem;
  margin: 0px auto;
  padding: 2rem 2.5rem;
  width: calc(100% - 5rem);
  max-width: 1280px;
}

main {
  min-height: calc(100vh - 14rem);
  align-content: center;
}

header, footer {
  grid-column: 1 / -1;
}

img.apps-icon {
  width: 2rem;
  height: 2rem;
  image-rendering: pixelated;
  vertical-align: middle;
}
#btn-main-menu {
  position: relative;
}
#btn-main-menu span {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
#btn-main-menu img {
  filter: brightness(0.75);
}
