@import url("./reset.css");
@import url("./theme.css");
@import url("./animations.css");
@import url("./forms.css");

/* grid-column: 1/-1; */
h1 {
  width: inherit; /*100%*/
  text-align: center;
}

h2 {
  width: 100%;
  margin-bottom: 0.5rem;
}
h2, h3 {
  text-align: center;
}

/* Cards */
.card-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  max-width: max-content;
  flex-wrap: wrap;
  width: 100%;
  min-width: webkit-fill-available;
}

.card {
  display: block;
  padding: 1rem 1.5rem;
  align-content: space-evenly;
  background-color: var(--paper);
  color: var(--text-secondary);
  border-radius: 0.25rem;
}

.card.card-small { width: 8rem; }

.card h4 {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.85;
}


/* General */
.container {
  display: grid;
  gap: 2rem;
  margin: 0px auto;
  padding: 2rem 2.5rem;
  width: calc(100% - 5rem);
  max-width: 1280px;
}

main {
  min-height: calc(100vh - 14rem);
  align-content: center;
}

header, footer {
  grid-column: 1 / -1;
}

img.apps-icon {
  width: 2rem;
  height: 2rem;
  image-rendering: pixelated;
  vertical-align: middle;
}
#btn-main-menu {
  position: relative;
}
#btn-main-menu span {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
#btn-main-menu img {
  filter: brightness(0.75);
}
