:root {
  --primary-main: #ffd862;
  --text-contrast-primary: #121928;
  --secondary-main: #66d6ff;
  --text-contrast-secondary: #0c0d16;

  /* background: [bg-image] [bg-position] / [bg-size] [repeat-style] [attachment] [bg-origin] [bg-clip] [bg-color]; */
  /* --bg-img-props: center / cover no-repeat fixed; */
  --bg-img-props: -19px -19px / 40px 40px repeat fixed;

  /* Shadows */
  --shadow-1-up:    0.05rem -0.05rem 0.25rem -0.05rem;
  --shadow-1-down: -0.05rem  0.05rem 0.25rem -0.05rem;
  --shadow-2-up:    0.125rem -0.125rem 0.5rem -0.125rem;
  --shadow-2-down: -0.125rem 0.125rem 0.5rem -0.125rem;
  --shadow-3-up:    0.25rem -0.25rem 0.75rem -0.25rem;
  --shadow-3-down: -0.25rem  0.25rem 0.75rem -0.25rem;
  --shadow-4-up:    0.5rem -0.5rem 1rem -0.25rem;
  --shadow-4-down: -0.5rem  0.5rem 1rem -0.25rem;
  --shadow-light: rgba(255, 255, 255, 0.33);
  --shadow-dark:  rgba(0, 0, 0, 0.33);
  
  --input-radius: 3pt;
}

:root .light {
  --background-color: #f3f3f3;
  --text-primary: #222222;
  --paper-color: #fcfcfc;
  --text-secondary: #1f1f1f;
  
  /* url("https://a.jpg") */
  --background: 
    radial-gradient(#22222220 1px, transparent 0)
    var(--bg-img-props) var(--background-color);
  /* url("https://a.jpg") */
  --paper: #fcfcfc80;
  
  --shadow-light: rgba(255, 255, 255, 0.5);
  --shadow-dark:  rgba(0, 0, 0, 0.25);
}

:root .dark {
  --background-color: #1e1e1e;
  --text-primary: #f0f0f0;
  --paper-color: #2b2d31;
  --text-secondary: #ffffff;

  --background: 
    radial-gradient(#f0f0f020 1px, transparent 0)
    var(--bg-img-props) var(--background-color);
  --paper: #2b2d3180;
  
  --shadow-light: rgba(255, 255, 255, 0.15);
  --shadow-dark:  rgba(0, 0, 0, 0.55);
}

/* Selection */
::-moz-selection {
  color: var(--background-color);
  background: var(--text-primary);
}
::selection {
  color: var(--background-color);
  background: var(--text-primary);
}

/* Scroll */



body {
  background: var(--background);
  color: var(--text-primary);
}