:root {
  --primary-main: #ffd862;
  --text-contrast-primary: #121928;
  --secondary-main: #66d6ff;
  --text-contrast-secondary: #0c0d16;

  /* Shadows */
  --shadow-1-up:    0.05rem -0.05rem 0.25rem -0.05rem;
  --shadow-1-down: -0.05rem  0.05rem 0.25rem -0.05rem;
  --shadow-2-up:    0.125rem -0.125rem 0.5rem -0.125rem;
  --shadow-2-down: -0.125rem 0.125rem 0.5rem -0.125rem;
  --shadow-3-up:    0.25rem -0.25rem 0.75rem -0.25rem;
  --shadow-3-down: -0.25rem  0.25rem 0.75rem -0.25rem;
  --shadow-4-up:    0.5rem -0.5rem 1rem -0.25rem;
  --shadow-4-down: -0.5rem  0.5rem 1rem -0.25rem;
  --shadow-light: rgba(255, 255, 255, 0.33);
  --shadow-dark:  rgba(0, 0, 0, 0.33);
  
  --input-radius: 3pt;
}

:root .light {
  --background: #f3f3f3;
  --text-primary: #222222;
  --paper: #fcfcfc;
  --text-secondary: #1f1f1f;
}

:root .dark {
  --background: #1e1e1e;
  --text-primary: #f0f0f0;
  --paper: #2b2d31;
  --text-secondary: #ffffff;
}

/* Selection */
::-moz-selection {
  color: var(--background);
  background: var(--text-primary);
}
::selection {
  color: var(--background);
  background: var(--text-primary);
}

/* Scroll */
